{% extends 'layout.html' %}

{% block header %}
  {{title}}
{% endblock %}

{% block body %}
  <p>Written by {{author}} in {{year}}</p>

  {% if goodreadsapi == True %}
  <h3>Goodreads API information:</h3>
    <p>Number of ratings: {{goodreadsratingcount}}</p>
    <p>Average rating: {{goodreadsaveragerating}}</p>
  {% endif %}

  <h3>Reviews:</h3>

  {% if reviewnumber > 0 %}
    <div class="resultcount">
    <p>Number of reviews: {{reviewnumber}}</p>
    <p>Average rating: {{averagerating}}</p>
    </div>
  {% endif %}

  {% for row in bookinfo %}
      <div class="reviews">
        <div><a href="{{ url_for('profile_template',username=row.username) }}">
          <strong>{{row.username|capitalize}}:</strong></a> {{row.rating}}/5
        </div>
        <div>{{row.review|capitalize}}</div>
      </div>
  {% else %}
    <p>No reviews yet</p>
  {% endfor %}

{% if reviewsubmitted.count == 0 %}
<div>
  <h3>Submit a review:</h3>
  <form action="{{url_for('book_template',isbn=isbn)}}" method="POST">
    <div>
      <select name="rating">
        <option value="5">(5) Masterpiece</option>
        <option value="4">(4) Very Good</option>
        <option value="3">(3) Fine</option>
        <option value="2">(2) Bad</option>
        <option value="1">(1) Terrible</option>
      </select>
    </div>
    <div>
      <textarea name="review" placeholder="Write a review of up to 2500 characters"
      id="reviewbox" rows="8" maxlength="2500"></textarea>
    </div>
    <div><button>Submit</button></div>
  </form>
</div>
{% endif %}
{% endblock %}
