{% extends 'layout.html' %}

{% block header %}
  {{title}}
{% endblock %}

{% block body %}
  <p>Written by {{author}} in {{year}}</p>

  <h3>Reviews:</h3>
  {% for row in bookinfo %}
    <div>
      {{row.username|capitalize}}:
      {{row.review|capitalize}}
    </div>
  {% else %}
    <p>No reviews yet</p>
  {% endfor %}

  <form action="{{url_for('book_template',isbn=isbn)}}" method="POST" id="reviewbox">
    <input type="text" name="review" placeholder="Write a review">
    <div><button>Submit</button></div>
  </form>
{% endblock %}
