{% extends 'layout.html' %}

{% block header %}
  Home
{% endblock %}

{% block body %}
  <p>{{ homemessage }}</p>
  {% if loggedin == False %}
    <a href="{{ url_for('login_template')}}">Login</a>
  {% endif %}
  {% if loggedin == True %}
  <a href="{{ url_for('logout_template')}}">Logout</a>
  {% endif %}
  {% if loggedin == True %}
    <a href="{{ url_for('search_template')}}">Search</a>
  {% endif %}
  {% if loggedin == True %}
    <a href="{{ url_for('profile_template',username=session['username'])}}">Profile</a>
  {% endif %}
{% endblock %}
